numpy==1.26.4

torch==2.8.0
torchaudio==2.8.0

pyannote.audio==3.1.1

faster-whisper==1.2.0

sounddevice==0.5.2
soundfile==0.13.1

python-docx==1.2.0
pyttsx3==2.99
requests==2.32.5

python-dotenv==1.1.1

--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
llama-cpp-python